<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div id="mario-chat">
        <h3 class="room-title"><%= room %></h3>
        <span id="conf" class="vidcon">Video</span>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <div id="hide-em-user" class="hide-em"><%= user %></div>
        <div id="hide-em-room" class="hide-em"><%= room %></div>
        <input id="message" type="text" placeholder="Message" required/>
        <button id="send">Send</button>
    </div>
    
    <div class="display-cover">
        <video autoplay></video>
        <canvas class="d-none"></canvas>
    
        <div class="video-options">
            <select name="" id="" class="custom-select">
                <option value="">Select camera</option>
            </select>
        </div>
    
        <img class="screenshot-image d-none" alt="">
    
        <div class="controls">
            <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
            <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
            <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
        </div>
    </div>
    

    <script src="js/chat.js"></script>
</body>
</html>