<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div id="mario-chat">
        <h3 class="room-title"><%= room %></h3>
        <span id="conf" class="vidcon">Video</span>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <div id="hide-em-user" class="hide-em"><%= user %></div>
        <div id="hide-em-room" class="hide-em"><%= room %></div>
        <input id="message" type="text" placeholder="Message" required/>
        <button id="send">Send</button>
    </div>
    
    
        <div class="video-container">
            <video autoplay class="remote-video" id="remote-video"></video>
            <video muted autoplay class="local-video" id="local-video"></video>
          </div>

    <script src="js/chat.js"></script>
</body>
</html>